.form-inputs{

    justify-content: center;
}
.form-actions{
    text-align: right;

}
.form-all{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    display: inline-block;
    max-width: 150rem;
    text-align: left;
}

body{
    text-align: center;
}