<head>
  <%= stylesheet_link_tag '/css/postindex.css' %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Cover page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/posts/new">글쓰기</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout" data-method="delete">로그아웃</a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/new">회원가입</a>
        </li>
      <% end %>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>!-->
      <div class="hello">
        <% if user_signed_in? %>
          <strong>반갑습니다, <%= current_user.userid %>님</strong>
        <% end %>
      </div>
    </form>
  </div>
</nav>
<%= form_tag '/login' do %>
  아이디
  <input type="userid" name="userid"><br>
  비밀번호
  <input type="password" name="password"><br>
  <input type="submit" value="로그인">
<% end %>